<!DOCTYPE html>
<html lang="si">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Glasbenik.pikasi</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  	<div class="row">
  		<div class="col-md-1"></div>
  			<div class="col-md-10">
  				<div class="page-header">
  					<h1>GLASBENIK.PIKASI <small>Portal za glasbenike</small></h1>
  				</div>
  			</div>
  		<div class="col-md-1"></div>
  	</div>

    <div class="row">
      <div class="col-md-1">
      </div>

      <div class="col-md-10">

        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <form role="form" action="/" method="get">
              <button type="submit" class="btn btn-default" id="meni1">Nazaj na iskanje</button>
            </form>
          </div>

          <div class="btn-group">
            <form role="form" action="/login" method="get">
              <button type="submit" class="btn btn-default" id="meni1" href="/uporabnik" >Log in</button>
            </form>
          </div>

          <div class="btn-group">
            <form role="form" action="/noviuporabnik" method="post">
              <button type="submit" class="btn btn-default" id="meni1" >Sign in</button>
            </form>
          </div>
        </div>

        <hr id="prijava">
        <br>

      </div>

      <div class="col-md-1">
      </div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
          <div>
              %if len(IskanjeGlasbenika) == 0:
                <p>Ni zadetkov.</p>
              %else:
              <p>Rezultati iskanja:
                  <table class="table table-hover">
                    <tr>
                      <th class="col-sm-1">#</th>
                      <th class="col-sm-1">Uporabniško ime</th>
                      <th class="col-sm-1">Ime</th>
                      <th class="col-sm-1">Priimek</th>
                      <th class="col-sm-1">Spol</th>
                      <th class="col-md-1">Email</th>
                      <th class="col-sm-1">Igra inštrument</th>
                      <th class="col-md-1">Stopnja znanja</th>
                      <th class="col-md-1">Leto rojstva</th>
                      <th class="col-md-1">Občina delovanja</th> 
                      <th class="col-md-1">Žanr</th> 
                      <th class="col-md-1">&nbsp;</th>
                    </tr>

                    %for cifra, element in enumerate(IskanjeGlasbenika):
                    <tr>
                      <td>{{cifra + 1}}</td>
                      <td>{{element[0]}}</td>
                      <td>{{element[1]}}</td>
                      <td>{{element[2]}}</td>
                      <td>{{element[3]}}</td>
                      <td>{{element[4]}}</td>
                      <td>{{element[5]}}</td>
                      <td>{{element[6]}}</td>
                      <td>{{element[7]}}</td>
                      <td>{{element[8]}}</td>
                      <td>{{element[9]}}</td>
                      <td>
                        <p>
                          <form role="form" action="/{{element[0]}}" method="get">
                            <button type="submit" class="btn btn-info">Ogled profila</button>
                          </form>
                        </p>
                      </td>
                    </tr>
                    %end
                  </table>
              %end
          </div>
        </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
          <footer>
            <hr>
            <p>&copy; PetraP & RokI & MatjazZ 2014</p>
          </footer>
        </div>
      <div class="col-md-1"></div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>