<!DOCTYPE html>
<html lang="si">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Glasbenik.pikasi</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	<div class="row">
		<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="page-header">
					<h1>GLASBENIK.PIKASI <small>Portal za glasbenike</small></h1>
				</div>
			</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>

		<div class="col-md-10">

			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<form role="form" action="/login" method="get">
				    	<button type="submit" class="btn btn-default" id="meni1" >Log in</button>
				    </form>
				</div>

				<div class="btn-group">
					<form role="form" action="/noviuporabnik" method="post">
				    	<button type="submit" class="btn btn-default" id="meni1" >Sign in</button>
				    </form>
				</div>
			</div>

			<hr id="prijava">
			<br>
		</div>

		<div class="col-md-1">
		</div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
			<div class="col-md-5">
				<h4 id="isci"><b>Išči glasbenike</b></h4>
				<hr id="isci1">
					<form role="form" action="/iskanjeglasbenika" method="post">
						<div class="form-group">
							<label for="instrument">Inštrument, ki ga igra glasbenik</label>
							<select class="form-control" id='instrument' name='instrument'>
								<option selected disabled>Izberi inštrument</option>
									%for ime in uporabnik:
										<option>{{ime[0]}}</option>
									%end
							</select>
					  	</div>

					  	<div class="form-group">
							<label for="obcinadelovanja">Občina delovanja glasbenika</label>
							<select class="form-control" id='obcina' name='obcina'>
								<option selected disabled>Izberi občino</option>
									%for ime in obcina:
										<option>{{ime[0]}}</option>
									%end
							</select>
					  	</div>
					  	
					  	<div class="form-group">
							<label for="zanrglasbenika">Žanr glasbenika</label>
							<!-- <input type="zanrglasbenika" class="form-control" id="zanrglasbenika" placeholder="Izberi žanr"> -->
							<select class="form-control" name='zanr' id='zanr'>
							  	<option selected disabled>Izberi žanr</option>
									%for ime in zanr:
										<option>{{ime[0]}}</option>
									%end
							</select>
					  	</div>
					  
					  	<div class="form-group">
							<label for="stopnjaznanja">Stopnja znanja glasbenika</label>
							<select class="form-control" name='stopnja' id='stopnja'>
								<option selected disabled>Izberi stopnjo znanja</option>
									%for ime in stopnja:
										<option>{{ime[0]}}</option>
									%end
							</select>
						</div>
		
						<div class="form-group">
							<label for="spolglasbenika">Spol</label>
							<select class="form-control" name='spol' id = 'spol'>
								<option selected disabled>Izberi spol</option>
									%for ime in spol:
										<option>{{ime[0]}}</option>
									%end
							</select>
						</div> 
					  	
						<div class="form-group">
							<label for="zanrglasbenika">Išče skupino, ki igra žanr</label>
							<select class="form-control" name='isce' id='isce'>
							  	<option selected disabled>Izberi žanr</option>
									%for ime in isce:
										<option>{{ime[0]}}</option>
									%end
							</select>
					  	</div>

					  	<!--<div>
							<b>Ali glasbenik išče skupino? </b>
								<input type="radio" name="isceskupino" value="ne"> Ne
								<input type="radio" name="isceskupino" value="da"> Da
					  	</div>-->
					  	<br>
					  	<button type="submit" class="btn btn-primary">Išči</button>
					</form>	
			</div>
			
			<div class="col-md-5">
				<h4 id="isci"><b>Išči skupine</b></h4>
				<hr id="isci1">
					<form role="form" action="/iskanjeskupine" method="post">
						<div class="form-group">
							<label for="obcinadelovanjas">Občina delovanja skupine</label>
							<select class="form-control" name='obcina2'>
								  <option selected disabled>Izberi občino</option>
									%for ime in obcina2:
										<option>{{ime[0]}}</option>
									%end
							</select>
						</div>
						
						<div class="form-group">
							<label for="zanrskupine">Žanr skupine</label>
							<select class="form-control" name='zanr2'>
								  <option selected disabled>Izberi žanr</option>
									%for ime in zanr2:
										<option>{{ime[0]}}</option>
									%end
							</select>
						</div> 
						
						<div>
							<b>Ali skupine išče člane? </b>
								<input type="radio" name="isceclane" value="ne"> Ne
								<input type="radio" name="isceclane" value="da"> Da
						</div>
						<br>
						<button type="submit" class="btn btn-primary">Išči</button>
					</form>
			</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
			<div class="col-md-10">
				<footer>
					<hr>
					<p>&copy; PetraP & RokI & MatjazZ 2014</p>
			  	</footer>
			</div>
		<div class="col-md-1"></div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
